body { 
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Verdana, Sans Serif;
	font-size: 14px;
	line-height: 16px;   
}

img {	
	border: 0px;	
}

a {
	color: #ec008c;
	text-decoration: none;
}


a:hover, a:active {
	text-decoration: underline;
}